@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <h4 class="masthead-heading mb-0">Company Project Expenses</h4>
                
                <a asp-page="/Expenses/Index" class="btn btn-primary btn-xl rounded-pill mt-5">View Project Expenses</a>
            </div>
        </div>

    </header>